.side-bar{
  position: fixed;
  background-color: rgb(255, 255, 255);
  top: 60px;
  left: 0;
  bottom: 0;
  width: 72px;

  z-index: 200;

  padding-top: 5px;
}
.sidebar-link{
  height: 75px;
  margin-bottom: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  
}
.sidebar-link:hover{
  background-color: rgba(222, 215, 215, 0.5);
  cursor: pointer;
}
.sidebar-link img{
  height: 24px;
  margin-bottom: 5px;
}
.sidebar-link div{
  font-family: Roboto, Arial;
  font-size: 10px;

}


